* {
    margin: 0px;
    padding: 0;

}

#container {
    display: flex;
    justify-content:center;

}

body {
    background-color: #82ba99;
}

.label {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 5px;
    color:rgb(52, 46, 46);
}

input, select, textarea {
    background-color:#ed8ab0;
}
input {
    padding: 5px;
}
input::placeholder {
    color: #092535;
    padding: px;
}


fieldset {
    border-radius: 3%;
    border-color: #6879bd;
    width: 38vw;
    height: 100vh;
    padding: 15px;
    background: #db569b;
}


legend {
    border: 0.5px solid black;
    border-radius: 4px;
    background-color:#65b0c7;
    font-size: 20px;
    font-weight: 900;
    color: darkslategrey;
}

#logo {
    background-color: aqua;
    margin-bottom: 20px;
}
#logo h3 {
    text-align: center;
}

#Email {
    display: block;
}

#info {
    background-color: #9782c2;
    width: 300px;
    border: 1px solid #7d2782;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

#info h2 {

    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    color: #d9d7d7;
    padding: 5px;
}
#info img {
   align-self: center;
}

#submit {
    width: 93%;
    text-align: center;
    color: darkgray;
    background-color: aqua;
    font-weight: 700;
}

#submit:hover
{
    background-color:coral;
    border: 1px solid black;
}

#cv h5 {
    color: white;
    text-align: justify;
    padding: 5px;
}

#contact {
    text-align: center;
    margin-top: 10px;
    padding: 0px;
}
#contact a {
    color: aqua;
    padding: 5px;
    font-size: 30px;
}
